<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    
    <h1>Criar conta</h1>

    <form action="/users/save" method="POST">

        <div>
            <input type="text" name="nome" placeholder="Digite o nome do usuário">
        </div>

        <div>
            <input type="text" name="idade" placeholder="Digite a idade do usuário">
        </div>

        <div>
            <input type="submit" value="cadastrar">
        </div>

    </form>
    
</body>
</html>